  
.lmj-plant-item-cover {
	height: 150px;
	width: 150px;
	border-radius: 20px;
	object-fit: cover;
}

.lmj-plant-item {
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}
.lmj-plant-item-name{
	background-color:  rgba(202, 199, 182, 0.5);
	width: 100%;
	border-radius: 20px;
	font-size: 1.2em;
	position: relative;
	bottom: 45px;
	text-align: center;
	
}
.lmj-plant-item-careScale{
	position: relative;
	bottom: 120px;
	display: flex;
	flex-direction: row;
}