
.lmj-shopping-list {
	width: 100%;
	display: inline;
}

.lmj-plant-list {
	list-style-type: none;
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
.lmj-plant-list-itemButton{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 170px;
	height: 170px;
	
}

.lmj-plant-list-button{
	position: relative;
	bottom: 110px;
	left: 65px;	
	background-color: white;
	color: black;
	border: 2px solid #4CAF50; /* Green */
	cursor: pointer;
}	